[*.cs]

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = suggestion

# IDE0011: Add braces
csharp_prefer_braces = when_multiline:suggestion

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = warning
